#all_charts{
    display: flex;
    flex-flow: column wrap;
}

#donut_chart_container {
      width: 400px;
      height: 400px;
      margin: 0;
      padding: 0;
}

#tag_cloud_container {
      width: 500px;
      height: 400px;
      margin: 0;
      padding: 0;
}
#articles_by_years_container {
    width: 500px;
      height: 400px;
      margin: 0;
      padding: 0;
}